<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="css.css">
		<title>Sonic &amp; Sega All-Stars Battle Royale</title>
	</head>

	<body>
		<div class="container">
			<div class="wrapper">
				<h1>{{winner}}
					wins</h1><br><br>
				<center><img src="images/victory.png" alt="victory"></center><br><br>
				<h1>Congratulations!</h1><br><br>
				<center>
					<a class="button" href="game.php?reset=1">Play Again</a><br><br>
					<audio src="images/victory.mp3" loop="loop" autoplay controls="controls"></center>
				</div>
			</div>
		</body>
	</body>
</html>

